<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static',  filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',  filename='js/menu.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-default.css') }}" type= "text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type= "text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" type= "text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}" type= "text/css">
    {% block headers %}{% endblock headers %}
    {% if title %}<title>{{ title }}</title>{% endif %}
  </head>
  <body>
    <header class="sticky navbar" id="navbar">
      <a href="/" class="logo">Potnanny <i class="fas fa-seedling" style="color: green;"></i></a>
      <a href="/power" class="button">power</a>
      <a href="/settings" class="button">settings</a>
      <a href="/help" class="button">help</a>
      <a href="javascript:void(0);" class="button responsiveicon" onclick="menuToggle()">&#9776;</a>
    </header>
  <div class="container">
  {% block content %}{% endblock content %}
  </div>
</body>
</html>
