/*
customizations to make the defaut mini.css nav header more mobile responsive,
and compliant with this site.
*/

header button.responsiveicon, header [type="button"].responsiveicon,
header .button.responsiveicon, header [role="button"].responsiveicon {
  background: var(--header-back-color);
  font-size: 1.75rem;
}

header button.responsiveicon:hover, header button.responsiveicon:focus,
header [type="button"].responsiveicon:hover,
header [type="button"].responsiveicon:focus,
header .button.responsiveicon:hover, header .button.responsiveicon:focus,
header [role="button"].responsiveicon:hover,
header [role="button"].responsiveicon:focus {
  background: var(--header-back-color);
}

.navbar {
    overflow: hidden;
}

.navbar .responsiveicon {
    display: none;
    /* font-size: 1.2em; */
}

@media screen and (max-width: 680px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.responsiveicon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 680px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.responsiveicon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
  }
}
