{% extends "base.html" %}
{% block headers %}
{% endblock headers %}
{% block content %}
  {% if title %}
  <h3>{{ title }}</h3>
  {% endif %}
  <div class="row">
  <form action="" method="post" name="sensor" class="form">
    {{ form.hidden_tag() }}
      <fieldset>
        <div class="row">
          <div class="col-sm">
            <label for="name">{{ form.name.label }}</label>
          </div>
          <div class="col-sm">
            {{ form.name(id="name", placeholder="name") }}
            {% if form.name.errors %}
            {% for err in form.name.errors %}
            <span style="color: red;">[{{ err }}]</span>
            {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="model">{{ form.model.label }}</label>
          </div>
          <div class="col-sm">
            {{ form.model(id="model", placeholder="model") }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="address">{{ form.address.label }}</label>
          </div>
          <div class="col-sm">
            {{ form.address(id="address", placeholder="address") }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="room_id">{{ form.room_id.label }}</label>
          </div>
          <div class="col-sm">
            {{ form.room_id(id="room_id", placeholder="room_id") }}
            {% if form.room_id.errors %}
            {% for err in form.room_id.errors %}
            <span style="color: red;">[{{ err }}]</span>
            {% endfor %}
            {% endif %}
          </div>
        </div>

      </fieldset>
    <button type="submit" class="button bordered">Submit</button>
  </form>
  </div>
{% endblock %}
