{% extends "base.html" %}
{% block content %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if payload %}
  <div class="row">
  {% for obj in payload %}
      <div class="card">
        <div class="section dark">
          <h4><a href="{{ url_for('sensor.edit', pk=obj.id) }}">{{ obj.name }}</a></h4>
        </div>
        <div class="section">
          address: {{ obj.address }}
        </div>
        <div class="section">
          model: {{ obj.model }}
        </div>
        <div class="section">
          room:
            {% if obj.room == 'unassigned' %}
            <mark class="secondary">{{ obj.room }}</mark>
            {% else %}
            <mark>{{ obj.room.name }}</mark>
            {% endif %}
        </div>
      </div>
  {% endfor %}
  </div>
{% else %}
No Sensor Data
{% endif %}
{% endblock %}
