{% extends "base.html" %}
{% block content %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if payload %}
  <div class="row">
  {% for room in payload %}
      <div class="card">
        <div class="section dark">
          {{ room.name }}
        </div>
        <div class="section">
          <a href="{{ url_for('room.edit', pk=room.id) }}">edit</a> |
          <a href="{{ url_for('room.edit', pk=room.id) }}">actions</a> |
          <a href="{{ url_for('room.edit', pk=room.id) }}">grow</a>
        </div>
      </div>
  {% endfor %}
  </div>
{% else %}
No Room Data
{% endif %}
<a href="{{ url_for('room.edit') }}" class="button small bordered">add room</a>
{% endblock %}
