{% extends "base.html" %}
{% block content %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if room %}
  <div class="row">
    <div class="card">
      <div class="section dark">
        <h4><a href="{{ url_for('room.edit', pk=room.id, next=request.path) }}">{{ room.name }}</a></h4>
      </div>

      <div class="section">
        <h4>Grow{% if 'grows' not in room or not room.grows %}&nbsp;&nbsp;<a href="{{ url_for('grow.edit', next=request.path) }}" style="float: right;" title="Add new grow"><i class="far fa-plus-square"></i></a>{% endif %}</h4>
        {% for grow in room.grows %}
        <div class="row">
          <a href="{{ url_for('grow.edit', pk=grow.id, next=request.path) }}" class="button bordered small" style="width: 100%;">{{ grow.name }}</a>
        </div>
        {% endfor %}
      </div>

      <div class="section">
        <h4>Actions &nbsp;&nbsp;<a href="{{ url_for('action.edit', next=request.path) }}" style="float: right;" title="Add new action"><i class="far fa-plus-square"></i></a></h4>
        {% for action in room.actions %}
          <div class="row">
            <a href="{{ url_for('sensor.edit', pk=sensor.id, next=request.path) }}" class="button bordered small" style="width: 100%;">{{ action.name }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="section">
        <h4>Sensors &nbsp;&nbsp;<a href="{{ url_for('sensor.index', next=request.path) }}" style="float: right;" title="Assign new sensor"><i class="far fa-plus-square"></i></a></h4>
        {% for sensor in room.sensors %}
          <div class="row">
            <a href="{{ url_for('sensor.edit', pk=sensor.id, next=request.path) }}" class="button bordered small" style="width: 100%;">{{ sensor.name }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
No Data
{% endif %}
{% endblock %}
