{% extends "base.html" %}
{% block headers %}
{% endblock headers %}
  <script>
    $(document).ready(function() {
      /* refresh entire page every 3 minutes */
      setTimeout(function() { window.location=window.location;}, 180000);

      /*
       * refresh room environment values every n seconds

      setInterval(function(){
        $("[id*=card_]").each(function(){
          var tag = this.id;
          var atoms = tag.split("_");
          var room_id = atoms[1];

          $.get("/rooms/" + room_id, {},
            function(data){
              for (k in data["environment"]) {
                var target = "gauge_" + room_id + "_" + k;
                var value = data["measurements"][k].toFixed(1);
                if (k == "temperature") {
                  $("#" + target).text(value + "\xB0");
                } else if (k == "humidity" || k == "soil-moisture") {
                  $("#" + target).text(value + "%");
                } else {
                  $("#" + target).text(value);
                }
              }
            }, 'json');
        });
      }, 30000);
       */
    });
  </script>
{% block content %}
{% if title %}
  <h3>{{ title }}&nbsp;&nbsp;&nbsp;<a href="{{ url_for('room.edit', next=request.path) }}" title="Add a room"><i class="far fa-plus-square"></i></a></h3>
{% endif %}
{% if rooms %}
  <div class="row">
  {% for room in rooms %}
      <div class="card" style="height: 180px;" id="card_{{ room.id }}">
        <div class="section dark">
          <a href="{{ url_for('dashboard.edit', pk=room.id, next=request.path) }}" class="button small bordered" style="margin-right: 0px; float: right;"><i class="fas fa-cog"></i></a>
          <a href="{{ url_for('room.get_room_sensors', pk=room.id) }}" class="button small bordered" style="margin-right: 0px; float: right;"><i class="fas fa-chart-bar"></i></a>
          <h4>{{ room.name }}</h4>
        </div>
        <div class="section" style="text-align: center">
          {% if 'environment' in room %}
            {% if 'temperature' not in room.environment and 'humidity' not in room.environment %}
              <span class="measurement">no data</span>
            {% endif %}
            {% if 'temperature' in room.environment %}
              <span class="measurement" id="gauge_{{ room.id }}_temperature">{{ room.environment.temperature }}&#176;</span>
              {% if 'humidity' in room.environment %}
              &nbsp;&nbsp | &nbsp;&nbsp
              {% endif %}
            {% endif %}
            {% if 'humidity' in room.environment %}
              <span class="measurement" id="gauge_{{ room.id }}_humidity">{{ room.environment.humidity }}%</span>
            {% endif %}
          {% endif %}
        </div>
        {% if 'grows' in room and room.grows %}
        <div class="section">
          '{{ room.grows.0.name }}' {{ room.grows.0.status }}
        </div>
        {% endif %}
      </div>
  {% endfor %}
  </div>
{% else %}
No Data
{% endif %}
{% endblock %}
