{% extends "base.html" %}
{% block content %}

{% if payload %}
  {% for room in payload %}
    <a href="{{ url_for('core.room_details', pk=room.id)}}">
    <div>
      {{ room.name }}
      {{ room.temperature }}
      {% if 'grow' in room %}
        {{ room.grow.name }},
        {% if 'flower_days' in room.grow %}
          flowering day {{ room.grow.flower_days }}
        {% else %}
          growth day {{ room.grow.veg_days }}
        {% endif %}
      {% endif %}
    </div>
    </a>
  {% endfor %}
{% else %}
  <p>
  No rooms defined
  </p>
  <a href="{{ url_for('core.room_edit') }}">Add a room</a>
{% endif %}

{% endblock %}
